@charset "UTF-8";
.button {
  background-color: #FF3E79 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none; }
  .button--menu {
    background: url(./static/menu-button.svg) no-repeat center; }
  .button--repair {
    background: url(./static/repair-button.svg) no-repeat center; }
  .button--search {
    background: url(./static/search-button.svg) no-repeat center; }
  .button--call {
    background: url(./static/phone.svg) no-repeat center; }
  .button--chat {
    background: url(./static/chat.svg) no-repeat center; }
  .button--profile {
    background: url(./static/man.svg) no-repeat center; }
  .button--close {
    background: url(./static/close-button.svg) no-repeat center; }
  .button--more {
    background: url(./static/dropdown-white.svg) no-repeat center; }
  .button--long {
    padding-right: 16px;
    align-items: center;
    border-radius: 16px;
    border: none;
    width: 119px;
    height: 32px;
    background: url(./static/dropdown-white.svg) no-repeat;
    background-position: 95px 11px;
    background-color: #FF3E79; }
    .button--long__text {
      font-family: 'TT Lakes';
      font-size: 12px;
      line-height: 24px;
      text-align: left;
      letter-spacing: -0.15px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin: 0;
      margin-left: 12px; }
  .button--offer {
    margin-left: 9px;
    width: 6px;
    height: 10px;
    background: url(./static/offer__line.svg) no-repeat center;
    border: none;
    padding: 0; }

.connection-buttons {
  display: flex;
  width: 152px;
  justify-content: space-between; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .header .connection-buttons {
    display: none; } }

/*768*/
@media screen and (min-width: 767px) and (max-width: 1439px) {
  .connection-buttons {
    display: flex; } }

.readmore-button {
  border: none;
  height: 24px;
  margin-left: 32px;
  margin-top: 24px;
  background-color: #F8F8F8;
  display: flex;
  padding: 0;
  width: 132px; }
  .readmore-button .expand-button--active {
    transform: rotate(180deg); }
  .readmore-button__description {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0; }

.header {
  background-color: #FFFFFF;
  width: 100%;
  min-height: 88px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EAEAEA; }
  .header__button-container_left, .header__button-container_right {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__divider {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA; }

.section-header {
  height: 55px;
  display: flex;
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  border-top: 2px solid #D9FFF5; }
  .section-header__title {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    margin: auto;
    margin-left: 32px;
    font-weight: normal; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .header {
    justify-content: space-evenly; }
    .header__button-container_left {
      width: 152px; }
    .header__button-container_right {
      width: 114px; }
    .header__divider:first-of-type {
      display: none; } }

/*768*/
@media screen and (min-width: 767px) and (max-width: 1439px) {
  .header {
    justify-content: space-between; }
    .header__button-container_left {
      width: 179px;
      margin-left: 24px; }
    .header__button-container_right {
      width: 282px;
      margin-right: 24px; }
    .header__divider:first-of-type {
      display: block; } }

@media screen and (min-width: 1439px) {
  .header {
    display: none; } }

.services {
  display: flex;
  flex-direction: column;
  font-family: "TT Lakes";
  font-weight: normal; }
  .services__title {
    display: flex;
    width: 288px;
    margin-top: 24px;
    margin-bottom: 0;
    height: 40px;
    font-weight: bold; }
  .services__title-text {
    font-size: 28px;
    font-weight: bold;
    margin: 0; }
  .services__menu-list {
    padding: 0;
    margin-top: 24px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap; }
    .services__menu-list li:last-of-type::after {
      content: " ";
      width: 24px;
      height: 40px;
      background-image: url(./static/fade.svg);
      position: absolute;
      z-index: 1;
      right: 0; }
    .services__menu-list ul {
      padding: 0;
      margin: 0; }
    .services__menu-list::-webkit-scrollbar {
      display: none; }
  .services__menu-item {
    color: #7E7E82;
    display: inline-block;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-right: 9px;
    padding-top: 8px;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle; }
    .services__menu-item a {
      text-decoration: none; }
    .services__menu-item:first-of-type {
      background-color: #FFFFFF;
      border: 2px solid #B8FFEC;
      border-radius: 6px; }
  .services__info-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-align: left;
    overflow: hidden; }
    .services__info-text--active {
      max-height: none !important; }
  .services__main-picture {
    margin-bottom: 35px; }
  .services__header {
    display: none; }
  .services__info {
    display: flex;
    flex-direction: column; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .services__title-text {
    margin-left: 12px; }
  .services__menu-list {
    margin-left: 16px; }
  .services__info {
    margin-top: 24px; }
  .services__info-text {
    margin-left: 16px;
    margin-bottom: 16px;
    max-height: 90px;
    max-width: 288px; }
  .services__readmore-button {
    margin-left: 16px;
    margin-bottom: 16px; }
  .services__main-picture {
    width: 320px;
    height: 176px;
    margin: auto; } }

@media screen and (min-width: 767px) and (max-width: 1439px) {
  .services {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .services__title-text {
      margin-left: 20px; }
    .services__menu-list {
      margin-left: 24px; }
    .services__main-picture {
      width: 360px;
      height: 208px;
      border-radius: 6px;
      margin-right: 24px;
      margin-top: 32px; }
    .services__info-text {
      margin-bottom: 10px;
      max-height: 100px;
      max-width: 312px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      margin-left: 24px; }
    .services__readmore-button {
      margin-left: 24px; }
    .services__info {
      margin-top: 32px;
      display: flex;
      flex-direction: column; }
    .services__description {
      margin-left: 24px;
      display: flex;
      flex-direction: column; } }

@media screen and (min-width: 1439px) {
  .services {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .services__title-text {
      margin-left: 30px; }
    .services__header {
      min-height: 88px;
      display: flex;
      align-items: center;
      justify-self: flex-end; }
    .services__main-picture {
      width: 531px;
      height: 307px;
      border-radius: 6px;
      margin-right: 24px;
      margin-top: 19px; }
    .services__info {
      margin-left: 34px;
      max-width: 490px;
      margin-top: 19px; }
    .services__info-text {
      margin-left: 0;
      max-width: 490px;
      max-height: 60px; }
    .services__readmore-button {
      margin-left: 0;
      margin-bottom: 0; }
    .services__menu-list {
      max-width: 1100px;
      white-space: normal;
      margin-left: 34px; }
      .services__menu-list li:last-of-type::after {
        display: none; }
    .services__header {
      width: 378px;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      font-weight: 600;
      margin-right: 32px; }
    .services__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 173px; }
    .services__title {
      margin-top: 42px; }
    .services__menu-item {
      padding-left: 22px;
      padding-right: 21px; }
      .services__menu-item:last-of-type {
        padding-left: 42px; } }

.brand-repair {
  padding: 0;
  margin: 0;
  margin-top: 35px; }
  .brand-repair .button--more {
    margin-right: 16px; }
  .brand-repair__item-logo {
    margin-left: 16px;
    background-repeat: no-repeat; }
  .brand-repair__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 238px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    background: #FFFFFF;
    z-index: 10000; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .brand-repair__header {
    height: 80px; }
  .brand-repair__title {
    width: 288px;
    margin-left: 16px; }
  .brand-repair__readmore-button {
    display: none; }
  .brand-repair__card {
    display: flex;
    width: 240px; }
  .brand-repair .swiper-slide {
    width: 240px; } }

@media screen and (min-width: 767px) and (max-width: 1439px) {
  .brand-repair__title {
    margin-left: 24px; }
  .brand-repair__card {
    width: 224px; } }

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal; }

:root {
  --swiper-theme-color: #007aff; }

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-vertical > .swiper-wrapper {
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-pointer-events {
  touch-action: pan-y; }
  .swiper-pointer-events.swiper-vertical {
    touch-action: pan-x; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto; }

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height; }

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

/* 3D Effects */
.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px; }

.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d; }

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15); }

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */ }
  .swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none; }

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start; }

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory; }

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }

.swiper-centered > .swiper-wrapper::before {
  content: '';
  flex-shrink: 0;
  order: 9999; }

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before); }

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after); }

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before); }

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after); }

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center; }

:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */ }

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10; }
  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(0.33);
    position: relative; }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    transform: scale(1); }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1); }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(0.66); }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33); }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(0.66); }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33); }

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2); }
  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer; }
  .swiper-pagination-bullet:only-child {
    display: none !important; }

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color)); }

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0); }
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
    display: block; }
  .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px; }
    .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
    .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
      display: inline-block;
      transition: 200ms transform, 200ms top; }

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px); }

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; }
  .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms left; }

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top; }
  .swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top; }
  .swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal,
  .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0; }
  .swiper-vertical > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-vertical,
  .swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0; }

.swiper-pagination-lock {
  display: none; }

.swiper-wrapper--active {
  max-height: none !important; }

.swiper-wrapper {
  overflow: hidden; }

.swiper-pagination {
  position: initial;
  margin-top: 16px; }

.swiper-pagination-bullet {
  background: #DDDDDD;
  opacity: 1;
  width: 12px;
  height: 12px; }
  .swiper-pagination-bullet-active {
    background: #B5B6BC; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .wrapper .swiper {
    margin-top: 16px;
    margin-left: 16px; }
    .wrapper .swiper .swiper-wrapper {
      display: flex;
      overflow: visible; }
    .wrapper .swiper::before {
      content: '';
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
      width: 24px;
      height: 74px;
      position: absolute;
      right: 0;
      z-index: 2; } }

@media screen and (min-width: 767px) and (max-width: 1439px) {
  .swiper .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 16px;
    width: 720px;
    margin: auto;
    margin-top: 24px;
    max-height: 165px; } }

@media screen and (min-width: 1439px) {
  .swiper .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -moz-column-gap: 32px;
         column-gap: 32px;
    row-gap: 16px;
    width: 1056px;
    margin: auto;
    margin-top: 24px;
    max-height: 165px; } }

.mechanizm-repair {
  padding: 0;
  margin: 0;
  margin-top: 50px; }
  .mechanizm-repair__card {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width: 240px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .mechanizm-repair__name {
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 600;
    margin-top: 16px;
    margin-left: 16px; }
  .mechanizm-repair .button--more {
    align-self: flex-end;
    margin-bottom: 16px;
    margin-right: 16px; }
  .mechanizm-repair .swiper::before {
    height: 166px !important; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .mechanizm-repair__readmore-button {
    display: none; }
  .mechanizm-repair .swiper-slide {
    width: 240px; } }

@media screen and (min-width: 767px) and (max-width: 1439px) {
  .mechanizm-repair__card {
    width: 224px; } }

.prices {
  margin-top: 50px; }
  .prices .swiper-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 324px;
    row-gap: 0;
    margin-top: 0; }
  .prices-information {
    align-items: center;
    display: flex;
    width: 1008px;
    height: 64px;
    margin: auto;
    justify-content: flex-end; }
    .prices-information__repair, .prices-information__cost, .prices-information__time {
      font-family: 'TT Lakes';
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      text-align: left; }
  .prices__card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid #EAEAEA;
    margin: auto; }
  .prices__repair-services, .prices__repair-price, .prices__term {
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px; }
  .prices__description {
    width: 421px;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 16px;
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px; }
  .prices__offer {
    margin: 0;
    font-family: 'TT Lakes';
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .prices .swiper::before {
    height: 200px; }
  .prices-information {
    display: none; }
  .prices .swiper-wrapper {
    flex-direction: row;
    height: 200px; }
    .prices .swiper-wrapper .swiper-slide {
      width: 260px; }
  .prices__card {
    margin: auto;
    justify-content: space-around;
    width: 260px;
    height: 168px;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    align-items: flex-start;
    height: 100%; }
    .prices__card .button--long {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-bottom: 16px;
      margin-right: 16px; }
  .prices__repair-services, .prices__repair-price, .prices__term {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 16px; }
  .prices__repair-services::before {
    content: 'Ремонтные услуги';
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    opacity: 0.72; }
  .prices__repair-price::before {
    content: 'Цена';
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    opacity: 0.72; }
  .prices__term::before {
    content: 'Срок';
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    opacity: 0.72; }
  .prices__description {
    width: 288px; }
  .prices__offer {
    width: 192px;
    display: block; } }

@media screen and (min-width: 767px) and (max-width: 1439px) {
  .prices .swiper {
    width: 720px; }
    .prices .swiper-wrapper {
      background-color: #FFFFFF; }
    .prices .swiper .swiper-slide:first-of-type .prices__term {
      margin-right: 51px; }
    .prices .swiper .swiper-slide:first-of-type .prices__repair-price {
      margin-right: 17px; }
  .prices__card {
    width: 688px; }
  .prices-information {
    width: 688px; }
    .prices-information__repair {
      margin-right: auto; }
    .prices-information__cost {
      margin-right: 56px; }
    .prices-information__time {
      margin-right: 185px; }
  .prices__repair-services {
    margin-right: auto; }
  .prices__term {
    margin-right: 20px; }
  .prices__repair-price {
    margin-right: 44px; } }

@media screen and (min-width: 1439px) {
  .prices .swiper {
    width: 1056px; }
    .prices .swiper-wrapper {
      background-color: #FFFFFF; }
    .prices .swiper .swiper-slide:first-of-type .prices__term {
      margin-right: 142px; }
    .prices .swiper .swiper-slide:first-of-type .prices__repair-price {
      margin-right: 148px; }
  .prices__card {
    width: 1008px; }
  .prices-information {
    width: 1008px; }
    .prices-information__repair {
      margin-right: auto; }
    .prices-information__cost {
      margin-right: 186px; }
    .prices-information__time {
      margin-right: 276px; }
  .prices__repair-services {
    margin-right: auto; }
  .prices__term {
    margin-right: 111px; }
  .prices__repair-price {
    margin-right: 175px; } }

.aside {
  z-index: 1000; }
  .aside_active {
    transform: translateX(0%) !important;
    position: fixed; }

.side-menu {
  background: #FFFFFF;
  position: absolute;
  top: 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
  .side-menu__header {
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    justify-content: space-between;
    margin-top: 30px; }
    .side-menu__header__logo {
      width: 97px;
      height: 51px;
      margin-left: 16px; }
      .side-menu__header__logo:hover {
        cursor: pointer;
        opacity: 0.5; }
  .side-menu__email {
    text-decoration: none;
    display: block;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin: 0;
    margin-top: 16px;
    margin-left: 24px;
    font-weight: 600; }
    .side-menu__email:hover {
      opacity: 0.5; }
  .side-menu__mobile-number {
    text-decoration: none;
    display: block;
    font-family: TT Lakes;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;
    margin: 0;
    margin-left: 24px;
    margin-top: 12px; }
    .side-menu__mobile-number:hover {
      opacity: 0.5; }
  .side-menu__language-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 24px;
    margin-top: 40px;
    margin-bottom: 32px; }
  .side-menu__language-name {
    display: inline-block;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 600; }
    .side-menu__language-name:not(.footer__language-name:last-of-type) {
      margin-right: 7px; }
    .side-menu__language-name button {
      border: none;
      background-color: transparent;
      padding: 0; }
    .side-menu__language-name_active button {
      color: #7E7E82; }
      .side-menu__language-name_active button:hover {
        opacity: 0.5; }

.menu-list {
  list-style-type: none;
  padding-left: 0;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0;
  margin-top: 50px;
  margin-bottom: auto;
  color: #1B1C21; }
  .menu-list__item {
    margin-bottom: 32px;
    height: 32px; }
    .menu-list__item a {
      text-decoration: none;
      color: #1B1C21;
      margin-left: 24px;
      vertical-align: middle;
      font-weight: 600; }
      .menu-list__item a:hover {
        cursor: pointer;
        opacity: 0.5; }

.active a {
  color: #7E7E82; }

.active::before {
  position: absolute;
  left: 0;
  content: "";
  width: 4px;
  height: 32px;
  background: url(./static/page__title-decor.svg);
  background-size: 4px 32px; }

.side-menu__footer .connection-buttons {
  margin-left: 24px; }

@media screen and (max-width: 360px) {
  .side-menu {
    width: 100%; } }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .aside {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.5s;
    transform: translateX(-100%); }
    .aside .side-menu__header {
      margin-top: 19px; }
      .aside .side-menu__header a {
        margin-right: auto;
        margin-left: 15px; }
    .aside .side-menu .menu-list {
      margin-top: 25px; }
      .aside .side-menu .menu-list__item {
        margin-bottom: 24px; }
    .aside .side-menu__language-list {
      margin-top: 8px; } }

@media screen and (min-width: 767px) and (max-width: 1439px) {
  .aside {
    transition: 0.5s;
    transform: translateX(-100%);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0; }
    .aside .side-menu {
      box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
      justify-content: flex-start; }
      .aside .side-menu__header {
        margin-top: 19px; }
        .aside .side-menu__header a {
          margin-right: auto;
          margin-left: 15px; } }

@media screen and (min-width: 1439px) {
  .aside {
    background: #FFFFFF;
    margin-right: auto;
    width: 320px;
    height: 2057px; }
  .side-menu {
    height: 1024px; }
    .side-menu .button--close {
      display: none; } }

.footer {
  display: flex;
  font-family: 'TT Lakes';
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  mix-blend-mode: normal;
  opacity: 0.72; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .footer {
    height: 112px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
    margin-bottom: 19px; }
    .footer__year {
      margin: 0;
      text-align: center;
      width: 218px; }
    .footer__confidentiality {
      margin: 0;
      text-align: center; }
    .footer__public-offer {
      margin: 0;
      text-align: center; } }

@media screen and (min-width: 767px) and (max-width: 1439px) {
  .footer {
    margin: auto;
    max-width: 720px;
    margin-top: 80px;
    margin-bottom: 41px;
    justify-content: space-between;
    align-items: flex-start; }
    .footer__year {
      width: 218px;
      margin: 0;
      text-align: left; }
    .footer__confidentiality {
      width: 214px;
      margin: 0;
      text-align: center; }
    .footer__public-offer {
      width: 213px;
      margin: 0;
      text-align: right; } }

@media screen and (min-width: 1439px) {
  .footer {
    margin: auto;
    max-width: 1056px;
    margin-top: 83px;
    margin-bottom: 33px;
    justify-content: space-between;
    align-items: flex-start; }
    .footer__year {
      width: 218px;
      margin: 0;
      text-align: left; }
    .footer__confidentiality {
      width: 214px;
      margin: 0;
      text-align: center; }
    .footer__public-offer {
      width: 330px;
      margin: 0;
      text-align: right; } }

.feedback-page {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  font-family: 'TT Lakes';
  transition: 0.5s;
  transform: translateX(100%);
  z-index: 1000; }
  .feedback-page_active {
    transform: translateX(0%);
    position: fixed; }
  .feedback-page .feedback-modal {
    background: #FFFFFF;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 440px;
    height: 100%;
    right: 0;
    top: 0; }
    .feedback-page .feedback-modal .button--close {
      position: absolute;
      left: -72px;
      top: 32px; }
    .feedback-page .feedback-modal__title {
      margin-top: 32px;
      margin-bottom: 24px;
      font-weight: bold;
      display: flex;
      align-items: center; }
      .feedback-page .feedback-modal__title-text {
        font-size: 28px;
        font-weight: bold;
        margin: 0;
        margin-left: 30px; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .feedback-page .feedback-modal {
    max-width: 440px;
    width: 100%; }
    .feedback-page .feedback-modal .button--close {
      top: 24px;
      left: 16px; }
    .feedback-page .feedback-modal__title {
      margin-top: 104px; }
      .feedback-page .feedback-modal__title-text {
        margin-left: 16px; } }

.callback-page {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  transform: translateX(100%);
  z-index: 1000; }
  .callback-page_active {
    transform: translateX(0%);
    position: fixed; }
  .callback-page .callback-modal {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 440px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
    .callback-page .callback-modal .button--close {
      position: absolute;
      left: -73px;
      top: 32px; }
    .callback-page .callback-modal .form__input {
      border: 1px solid #EAEAEA;
      border-radius: 8px;
      height: 48px;
      width: 376px;
      margin-bottom: 16px;
      font-family: 'TT Lakes';
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #B5B6BC; }
    .callback-page .callback-modal .form__agreement {
      font-family: 'TT Lakes';
      font-size: 14px;
      line-height: 16px;
      color: #7E7E82;
      width: 376px; }
      .callback-page .callback-modal .form__agreement a {
        color: #FF3E79;
        text-decoration: none; }
    .callback-page .callback-modal__title {
      display: flex;
      width: 288px;
      margin-top: 32px;
      margin-bottom: 24px;
      height: 40px;
      font-weight: bold; }
    .callback-page .callback-modal__title-text {
      font-family: 'TT Lakes';
      font-size: 28px;
      font-weight: bold;
      margin: 0;
      margin-left: 30px; }
    .callback-page .callback-modal__form {
      display: flex;
      flex-direction: column;
      margin-left: 30px; }
      .callback-page .callback-modal__form .button--long {
        margin-left: auto;
        margin-right: 32px;
        margin-top: 24px; }
    .callback-page .callback-modal__message {
      height: 118px !important; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .callback-page .callback-modal {
    max-width: 440px;
    width: 100%; }
    .callback-page .callback-modal .button--close {
      position: absolute;
      left: 16px;
      top: 24px; }
    .callback-page .callback-modal .form__input {
      width: 288px; }
    .callback-page .callback-modal .form__agreement {
      width: 288px; }
    .callback-page .callback-modal__form {
      margin-left: 16px; }
      .callback-page .callback-modal__form .button--long {
        margin-right: 16px; }
    .callback-page .callback-modal__title {
      margin-top: 104px; }
    .callback-page .callback-modal__title-text {
      margin-left: 16px; } }

body {
  margin: 0;
  background-color: #F8F8F8;
  overflow-x: hidden; }
  body a:hover {
    opacity: 0.5;
    cursor: pointer; }
  body button:hover {
    opacity: 0.5;
    cursor: pointer; }

.wrapper {
  display: block;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  overflow: hidden; }

.main {
  max-width: 1120px;
  margin: auto;
  transition: 0.5s; }
  .main_disabled {
    opacity: 0.5; }

@media screen and (min-width: 1439px) {
  .main {
    margin-left: 320px; }
  .wrapper {
    height: 2057px; } }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .main_disabled {
    max-height: 760px; } }

.form {
  display: flex;
  flex-direction: column; }
  .form__input {
    font-family: 'TT Lakes';
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    width: 376px;
    height: 48px;
    margin: auto;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC; }
  .form__agreement {
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    width: 376px;
    margin: auto; }
    .form__agreement a {
      color: #FF3E79;
      text-decoration: none; }
  .form__message {
    height: 118px !important; }
  .form .button--long {
    margin-left: auto;
    margin-right: 32px;
    margin-top: 24px; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  .form__input {
    width: 288px; }
  .form__agreement {
    width: 288px; }
  .form .button--long {
    margin-right: 16px; } }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-MediumItalic.eot);
  src: local("TT Lakes Medium Italic"), local("TTLakes-MediumItalic"), url(./fonts/TTLakes-MediumItalic.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-MediumItalic.woff) format("woff"), url(./fonts/TTLakes-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-DemiBold.eot);
  src: local("TT Lakes DemiBold"), local("TTLakes-DemiBold"), url(./fonts/TTLakes-DemiBold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-DemiBold.woff) format("woff"), url(./fonts/TTLakes-DemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }


/*# sourceMappingURL=style.css.map*/