.button{
    background-color:$buttonColor !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    &--menu{
        background: url('../img/button/menu-button.svg') no-repeat center;
    }
    &--repair{
        background: url('../img/button/repair-button.svg') no-repeat center;
    }
    &--search{
        background: url('../img/button/search-button.svg') no-repeat center;
    }
    &--call{
        background: url('../img/button/phone.svg') no-repeat center;
    }
    &--chat{
        background: url('../img/button/chat.svg') no-repeat center;
    }
    &--profile{
        background: url('../img/button/man.svg') no-repeat center;
    }
    &--close{
         background: url("../img/button/close-button.svg") no-repeat center;
    }
    &--more{
        background: url("../img/button/dropdown-white.svg") no-repeat center;
    }
    &--long{
        padding-right: 16px;
        align-items: center;
        border-radius: 16px;
        border: none;
        width: 119px;
        height: 32px;
        background: url('../img/button/dropdown-white.svg') no-repeat;
        background-position: 95px 11px;
        background-color: $buttonColor;
        &__text{
            font-family: 'TT Lakes';
            font-size: 12px;
            line-height: 24px;
            text-align: left;
            letter-spacing: -0.15px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 0;
            margin-left: 12px;
        }
    }
    &--offer{
        margin-left: 9px;
        width: 6px;
        height: 10px;
        background: url('../img/button/offer__line.svg') no-repeat center;
        border: none;
        padding: 0;
    }
}

.connection-buttons{
    display: flex;
    width: 152px;
    justify-content: space-between;
}

@media screen and (min-width: 0px) and (max-width:767px) {
    .header{
        .connection-buttons{
            display: none;
        }
    }
}
/*768*/
@media screen and (min-width: 767px) and (max-width: 1439px) {
    .connection-buttons{
        display: flex;
    }
}
