.readmore-button{
    border: none;
    height: 24px;
    margin-left: 32px;
    margin-top: 24px;
    background-color: $bgHeaderColor;
    display: flex;
    padding: 0;
    width: 132px;
    &__description{
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        margin: 0;
        display: flex;
        &::before{
            content: '';
            background: url('../img/button/expand.svg') no-repeat center;
            display: block;
            width: 24px;
            height: 24px;
            &--active{
                transform: rotate(180deg);
            }
        }
    }
}