.feedback-page{
    position: absolute;
    display: none;
    right: 0;
    left: 0;
    top: 0;
    bottom:0;
    font-family: 'TT Lakes';
    transform: translateX(100%);
    z-index: 1000;
    &_active{
        display: block;
        position: fixed;
        animation-name: flip;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    .feedback-modal{
        background: $backGroundWhite;
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 440px;
        height: 100%;
        right: 0;
        top: 0;
        .button--close{
            position: absolute;
            left: -72px;
            top: 32px;
        }
        &__title{
            margin-top: 32px;
            margin-bottom: 24px;
            font-weight: bold;
            display: flex;
            align-items: center;
            &::before{
                display: block;
                content: '';
                width: 3px;
                height: 40px;
                background: url('../img/page/page__title-decor.svg');
            }
            &-text{
                font-size: 28px;
                font-weight: bold;
                margin: 0;
                margin-left: 30px;
            }
        }
    } 
}
@media screen and (min-width: 0px) and (max-width: 767px){
    .feedback-page{
        .feedback-modal{
            max-width: 440px;
            width: 100%;
            .button--close{
                top: 24px;
                left: 16px;
            }
            &__title{
                margin-top: 104px;
                &-text{
                    margin-left: 16px;
                }
            }
        }
    }
}

@keyframes flip {
    100%{transform: translateX(0%);}
  }