.header{
    background-color:$backGroundWhite;
    width: 100%;
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $borderColor;
    &__header-left, &__header-right{
        display: flex;
        align-items: center;
    }
    &__divider{
        width: 2px;
        height: 32px;
        background-color: $borderColor;
    }
    .logo{
        display: flex;
        align-items: center;
        &::before{
            content: '';
            width: 2px;
            height: 32px;
            background-color: $borderColor;
            display: block;
            position: relative;
            right: 20px;
            pointer-events: none;
        }
    }
    .button--repair::before{
        content: '';
        width: 2px;
        height: 32px;
        background-color: $borderColor;
        position: relative;
        display: block;
    }
}

.section-header{
    height: 55px;
    display: flex;
    background: linear-gradient(90deg, $bgHeaderColor 1.39%, $backGroundWhite 100%);
    border-top: 2px solid $sectionHeaderBorder;
    &__title{
        font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: $servisesTitleColor;
        margin: auto;
        margin-left: 32px;
        font-weight: normal;
    }
}

@media screen and (min-width: 0px) and (max-width:767px) {
    .header{
        &__header-left{
            width: 154px;
            justify-content: space-between;
            margin-left: 16px;
        }
        &__header-right{
            width: 96px;
            justify-content: space-between;
            margin-right: 16px;
            .button--repair{
                &::before{
                    right: 30px;
                    pointer-events: none;
                }
            }
        }
        .logo{
            &::before{
                display: none;
            }
        }
    }
}
/*768*/
@media screen and (min-width: 767px) and (max-width: 1439px) {
    .header{
        justify-content: space-between;
        &__header-left{
            width: 179px;
            margin-left: 24px;
            justify-content: space-between;
        }
        &__header-right{
            justify-content: space-between;
            width: 296px;
            margin-right: 24px;
            .button--repair{
                margin-left: auto;
                margin-right: 16px;
                &::before{
                    right: 30px;
                    pointer-events: none;
                }
            }
        }
    }
}
@media screen and (min-width: 1439px){
    .header{
        display: none;
    }
}