.form{
    display: flex;
    flex-direction: column;
    &__input{
        font-family: 'TT Lakes';
        border: 1px solid $borderColor;
        border-radius: 8px;
        width: 376px;
        height: 48px;
        margin: auto;
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #B5B6BC;
    }
    &__agreement{
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
        width: 376px;
        margin: auto;
        a{
            color: $buttonColor;
            text-decoration: none;
        }
    }
    &__message{
        height: 118px !important;
    }
    .button--long{
        margin-left: auto;
        margin-right: 32px;
        margin-top: 24px;
    }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    .form{
        &__input{
            width: 288px;
        }
        &__agreement{
            width: 288px;
        }
        .button--long{
            margin-right: 16px;
        }
    }
}